/* pc */
@media (min-width: 992px) {
  .mobile-header {
    display: none;
  }
}
/* tablet & mobile */
@media (max-width: 991.98px) {
  .nav {
    display: none;
  }
  .action {
    margin-left: auto;
  }
  .header .body {
    position: relative;
    padding: 10px 0;
  }
  .header.fixed {
    z-index: 0;
    position: static;
  }
  .header .logo {
    position: absolute;
    left: 50%;
    translate: -50%;
  }
  /* menu */
  .menu__icon {
    color: rgba(2, 2, 37, 0.87);
    width: 24px;
    position: absolute;
    top: 22px;
    left: 33px;
  }
  /* overlay */
  .menu-overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
    z-index: 1;
  }
  #menu-checkbox:checked ~ .menu-overlay {
    opacity: 1;
    visibility: visible;
  }
  .menu-drawer {
    padding: 20px;
    position: fixed;
    inset: 0 40% 0 0;
    background-color: #4c3d70;
    transform: translateX(-100%);
    transition: 0.5s;
    z-index: 2;
  }
  #menu-checkbox:checked ~ .menu-drawer {
    transform: translateX(0);
  }
  .menu-drawer__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .menu-drawer__top .close-menu {
    width: 24px;
    color: #fff;
  }
  .navbar__item {
    margin-top: 20px;
  }
  .navbar__link {
    color: #fff;
    display: block;
    padding: 10px;
  }
  .navbar__link:hover {
    background-color: #2c3c3c;
  }
  /* hero */
  .hero .body {
    flex-direction: column;
  }
  .hero .content-block {
    width: 100%;
  }
  .hero .content-block .title {
    font-size: 5.2rem;
  }
  .hero .content-block .desc {
    width: 90%;
    margin-top: 20px;
  }
  .hero .content-block .cta-group {
    margin-top: 25px;
  }
  .hero .media-block {
    width: 100%;
    margin-top: 60px;
  }
  .hero .media-block .media {
    width: 100%;
    height: auto;
    border-radius: 20px;
  }
  .media-block .media-schedules {
    left: 0;
  }
  .media-block .media-courses {
    left: 0;
  }
  /* feature */
  .feature {
    margin-top: 20px;
  }
  .feature-list {
    flex-direction: column;
    margin-top: 40px;
    row-gap: 40px;
  }
  .feature-list .feature-item:first-child .item-desc,
  .feature-list .feature-item:nth-child(2) .item-desc,
  .feature-list .feature-item:last-child .item-desc {
    max-width: 100%;
  }
  /* course */
  .courses .body {
    padding: 40px 0;
  }
  .courses .row-top {
    flex-direction: column;
    row-gap: 20px;
  }
  .courses .heading-lv2 {
    text-align: center;
  }

  .courses .row-top .desc {
    text-align: center;
  }
  .course-list {
    flex-direction: column;
    row-gap: 30px;
  }
  .courses .course-list .thumb {
    height: auto;
  }
  /* countdown */
  .countdown {
    margin-top: 40px;
  }
  .countdown .countdown-list {
    justify-content: space-evenly;
  }
  .ava-fb {
    display: none;
  }
  .feedback blockquote {
    max-width: 100%;
  }
  .feedback .desc {
    justify-content: flex-end;
  }
  .feedback .feedback-cta {
    justify-content: center;
  }
  /* admit */
  .admit {
    margin-top: 60px;
  }
  .admit .body {
    flex-direction: column;
  }
  .admit .admit-left .desc {
    width: 100%;
    text-align: center;
  }
  .admit .admit-right {
    justify-content: center;
    width: 100%;
    margin-top: 40px;
  }
  .admit-left .heading-lv2 {
    text-align: center;
  }
  .feedback {
    margin-top: 50px;
  }
}
/* tablet */
@media (min-width: 768px) and (max-width: 991.98px) {
  .footer-hidden-tablet {
    display: none;
  }
  .footer .row-top {
    justify-content: space-evenly;
  }
  .mobile-action {
    display: none;
  }
}
/* mobile */
@media (max-width: 767.98px) {
  .header .action {
    display: none;
  }
  .header .logo {
    top: 50%;
  }
  .menu-drawer {
    inset: 0 20% 0 0;
  }
  .separate {
    margin-top: 20px;
    border-top: 2px solid #b4afaf;
  }
  /* hero */
  .hero {
    padding: 40px 0;
  }
  .hero .content-block .top-title {
    margin-top: 60px;
  }
  .hero .content-block .title {
    font-size: 3.2rem;
  }
  .hero .content-block .desc {
    width: 100%;
  }
  .hero .content-block .cta-group {
    justify-content: center;
  }
  /* feature   */
  .feature .heading-lv2 {
    font-size: 2.8rem;
  }
  .feature .body .desc {
    font-size: 1.5rem;
  }
  .feature .feature-list {
    margin-top: 50px;
  }
  /*course  */
  .courses .heading-lv2 {
    font-size: 3.2rem;
  }
  .courses .row-top .desc {
    font-size: 1.4rem;
  }
  .courses .course-item .course-detail {
    top: 225px;
    left: 28px;
  }
  /* countdown */
  .countdown .countdown-item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .countdown .countdown-list .static strong {
    font-size: 3.2rem;
  }
  .countdown .countdown-list .desc {
    font-size: 1.3rem;
  }
  .feedback blockquote {
    font-size: 2.2rem;
  }
  .feedback .desc {
    margin-top: 15px;
  }
  .feedback .feedback-cta {
    margin-top: 25px;
  }
  .admit {
    margin-top: 40px;
    padding: 40px 0;
  }
  .admit .body {
    align-items: center;
  }
  .admit-left .heading-lv2 {
    font-size: 3.2rem;
  }
  .admit .admit-left .desc {
    font-size: 1.6rem;
  }
  .admit .admit-right {
    margin: 30px auto;
  }
  .footer .row-top {
    padding-top: 60px;
  }
  .footer .row-top {
    flex-direction: column;
    row-gap: 40px;
  }
  .footer .copyright {
    border-top: 2px solid #4d4c4c;
    padding: 20px;
    margin-top: 30px;
  }
}
